html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 10em;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10em;
    margin-top: 10px;
    background-color: #607D8B;
}

footer > div > p {
  color: #B0BEC5;
}

hr {
    margin-top: 0;
    margin-bottom: 1em;
}

.footable-header > th {
    word-wrap: break-word;

    min-width: 5em;
    max-width: 11em;
}

#result-table > tbody > tr > td {
    word-wrap: break-word;
    border-bottom: solid 1px #ddd;
    vertical-align: top;
}

#header-panel {
    background-color: #607D8B;
}

#header-panel > div > h4 {
    font-weight: bold;
}

#search {
    min-height: 8em;
    margin-bottom: 1em;
}

#results {
    min-height: 20em;
}

#result-container {
}

.inline {
    display: inline-block;
}

.margin-right-1 {
    margin-right: 0.2em;
}

.margin-bottom-1 {
    margin-bottom: 1em;
}

.margin-top-1 {
    margin-top: 1em;
}

.padding-0-left {
    padding-left: 0;
}

.padding-1-right {
    padding-right: 0.3em;
}

.width-100 {
    min-width: 100%;
}

.cursor-default {
    cursor:default !important;
}

.add-margin-top {
    margin-top: 0.4em;
}

.add-margin-bottom {
    margin-bottom: 0.4em;
}

.navbar-text {
    color: #B0BEC5 !important;
}

.navbar-default .navbar-brand {
  color: white;
}

.navbar-default .navbar-brand:focus, .navbar-default .navbar-brand:hover {
  color: #ECEFF1;
  cursor: default;
}

.sub-title-1 {
    font-size: 16px;
    margin-top: 0;
}

.border-right {
    border-right: 1px solid #eee;
}

.border-right-checkbox {
    border-right: 1px solid #eee;
    padding-right: 1em;
    margin-right: 1em;
}

.form-group {
    margin-bottom: 0;
}

.big-container {
    width: 100%;
}

.bold {
    font-weight: bold;
}

/* tablesorter custom css */

table.tablesorter tbody tr.normal-row td {
    background: #CFD8DC;
    color: #000;
}
table.tablesorter tbody tr.alt-row td {
    background: #ECEFF1;
    color: #000;
}

td.toggle > span {
    cursor: pointer;
    padding-left: 0.5em;
}

div.tab-row {
    width: 100%;
}

div.tab-col-left {
    width: 20%;
    font-weight: bold;
    padding-left: 0.5em;
    vertical-align: top;
}

div.tab-col-right {
    width: 80%;
    padding-right: 0.5em;
}

div.tab-row {
    border-bottom: solid #E0E0E0 1px;
    padding-bottom: 0.2em;
    padding-top: 0.2em;
}

td.tab-col-visible {
    min-width: 14em;
    word-break: break-word;
}

span.tab-col-toggle-icon {
    margin-right: 0.2em;
}

.tablesorter-bootstrap thead td {
    background-color: #ECEFF1;
}

.tablesorter-bootstrap tfoot td {
    background-color: #ECEFF1;
}

.pagesize {
    margin-bottom: -5px;
    width: 8em;
}

/* Source: https://www.w3schools.com/howto/howto_css_loader.asp */

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 1em;
    margin-bottom: 1em;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}