<!DOCTYPE html>
<html lang="en">
<head>
    <!-- meta tags -->
    <meta charset="UTF-8">
    <meta name="author" content="Anastassios Martakos">
    <meta name="description" content="Logfile aggregator">
    <meta name="keywords" content="log,file,logfile,aggregation,parse,collect,extract,analyse">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- IE: disable compatibility mode -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <!-- jquery -->
    <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

    <!-- bootstrap -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous" />

    <!-- selectize -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/css/selectize.bootstrap3.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.4/js/standalone/selectize.min.js"></script>

    <!-- moment-js -->
    <!-- dependency of bootstrap-datetimepicker -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment-with-locales.min.js"></script>

    <!-- bootstrap-datetimepicker -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <!-- footable -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.4/footable.bootstrap.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery-footable/3.1.4/footable.min.js"></script>

    <!-- awesome-bootstrap-checkbox -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/awesome-bootstrap-checkbox/0.3.7/awesome-bootstrap-checkbox.min.css" />

    <!-- tamandua specific -->
    <link href="/static/tamandua.css" rel="stylesheet" />
    <script src="/static/tamandua.js"></script>

    <title>Tamandua</title>
</head>
<body>
<header>
    <nav id="header-panel" class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Tamandua</a>
            </div>
            <p class="navbar-text">Web Interface</p>
        </div>
    </nav>
</header>

<main>
    <div class="container">

        <div id="search" class="container-fluid panel panel-default">
            <div> <!-- header -->
                <h4>Search</h4>
                <hr>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-7 col-lg-7 border-right">
                    <div> <!-- header -->
                        <h5 class="sub-title-1">Field Values</h5>
                    </div>

                    <div id="expression-container"></div>

                    <div id="expression-add" class="row">
                        <div class="col-xs-10 col-md-10 padding-0-left"></div>
                        <div class="col-xs-2 col-md-2 padding-0-left">
                            <button id="add-expression-line-button" type="button" class="btn btn-default width-100"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-5 col-lg-5">
                    <div> <!-- header -->
                        <h5 class="sub-title-1">Date and Time</h5>
                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-3 padding-1-right">
                            <div class="form-control cursor-default add-margin-bottom" disabled>From</div>
                        </div>

                        <div id="dt-from-search-mask" class="dt-search-mask" style="display: none">
                            <div class="col-xs-7 col-md-7 padding-0-left padding-1-right">
                                <div class="form-group">
                                    <div class='input-group date' id='dt-from-picker'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-2 padding-0-left">
                                <button class="btn btn-default width-100 remove-dt-button" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                            </div>
                        </div>

                        <div class="col-xs-9 col-md-9 padding-0-left dt-add">
                            <button class="btn btn-default width-100 add-dt-button" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-xs-3 col-md-3 padding-1-right">
                            <p class="form-control cursor-default" disabled>To</p>
                        </div>

                        <div id="dt-to-search-mask" class="dt-search-mask" style="display: none">
                            <div class="col-xs-7 col-md-7 padding-0-left padding-1-right">
                                <div class="form-group">
                                    <div class='input-group date' id='dt-to-picker'>
                                        <input type='text' class="form-control" />
                                        <span class="input-group-addon">
                                            <span class="glyphicon glyphicon-calendar"></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-2 col-md-2 padding-0-left">
                                <button class="btn btn-default width-100 remove-dt-button" type="button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
                            </div>
                        </div>

                        <div class="col-xs-9 col-md-9 padding-0-left dt-add">
                            <button class="btn btn-default width-100 add-dt-button" type="button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></span></button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-12 col-ld-12">
                    <hr class="margin-top-1">
                    <div class="pull-right margin-bottom-1">
                        <div class="btn-group border-right-checkbox" role="group" aria-label="...">
                            <div class="checkbox checkbox-primary">
                                <input id="only-important-checkbox" class="styled" type="checkbox" checked="true">
                                <label for="only-important-checkbox">only important</label>
                            </div>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="get-sample-button" type="button" class="btn btn-default">Get Sample Data</button>
                            <button id="get-all-button" type="button" class="btn btn-default">Get All</button>
                        </div>
                        <div class="btn-group" role="group" aria-label="...">
                            <button id="search-button" type="button" class="btn btn-primary">Search</button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-xs-12 col-md-12 col-ld-12">
                    <div style="display: none;" id="search-error">
                        <hr class="margin-top-1">
                        <div  class="alert alert-danger">
                            <p style="display: none;" id="search-error-generic"></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div id="results" class="container-fluid panel panel-default">
            <div> <!-- header -->
                <h4>Results</h4>
                <hr>
            </div>
            <p class="remove">Here are the results shown.</p>
            <div style="display: none;" id="result-info" class="alert alert-info">
                <p style="display: none;" id="result-info-no-results">No results. Try search for something different!</p>
            </div>
            <div id="result-container"></div>
        </div>
    </div>
</main>

<footer>
    <div class="container">
        <p>Created by Anastassios Martakos</p>
    </div>
</footer>

<div id="expression-templates" class="container" style="display: none">
    <div class="row expression-line">
        <div class="col-xs-4 col-md-4 padding-1-right">
            <select class="expression-select">
                {% for name in fieldnames %}
                    <option value="{{ name }}">{{ name }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-xs-6 col-md-6 padding-0-left padding-1-right">
            <input class="form-control expression-input" type="text" aria-label="...">
        </div>
        <div class="col-xs-2 col-md-2 padding-0-left">
            <button type="button" class="btn btn-default width-100 expression-remove-button"><span class="glyphicon glyphicon-minus" aria-hidden="true"></span></button>
        </div>
    </div>
</div>

</body>
</html>