/*
Source:
https://mottie.github.io/tablesorter/docs/example-widget-column-selector.html
*/


/*** custom css only popup ***/
.columnSelectorWrapper {
    position: relative;
    float: right;
    /* margin: 10px 0; */
    display: inline-block;
    z-index: 10000;
}
.columnSelector, .hidden {
    display: none;
}
.columnSelectorButton {
    background: #ddd;
    border: #888 1px solid;
    color: #111;
    border-radius: 5px;
    padding: 5px;
}
/* #colSelect1:checked + label {
    background: #5797d7;
    border-color: #555;
} */

#colSelect1:checked ~ #columnSelector {
    display: block;
}
.columnSelector {
    width: 38em;
    position: absolute;
    top: 3em;
    left: -30em;
    padding: 10px;
    background: #fff;
    border: #ddd 1px solid;
    border-radius: 5px;

    -webkit-box-shadow: 0px 0px 40px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 40px 4px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 40px 4px rgba(0,0,0,0.75);
}
.columnSelector label {
    display: inline-block;
    min-width: 18em;
}
.columnSelector label:nth-child(1) {
    /* border-bottom: #ddd solid 1px; */
    margin-bottom: 5px;
}
.columnSelector input {
    margin-right: 5px;
}
.columnSelector .disabled {
    color: #ddd;
}

/*** Bootstrap popover ***/
#popover-target label {
    margin: 0 5px;
    display: block;
}
#popover-target input {
    margin-right: 5px;
}
#popover-target .disabled {
    color: #ddd;
}
